.mainDiv {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.asideAndArticle {
  h1 {
    margin-top: 50px;
    font-size: 35px;
  }
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: stretch;

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 30%;
    margin: 10px;
    @include rainbowBorder;
    border-radius: 30px;
    background: white;
  }

  article {
    width: 70%;
    margin: 10px;
    @include rainbowBorder;
    border-radius: 30px;
    background: white;
  }

  p:nth-child(4) {
    margin-bottom: 20px;
  }
}

.ArticleAllDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    width: 80%;
    margin: 10px;
    @include rainbowBorderRewers;
    text-align: center;
  }
}
