.skilsList {
  width: 90%;
  height: 50px;
  margin-left: 20px;
  text-align: center;
}
.skilsListHeders {
  text-align: center;
}

aside {
  h2 {
    color: $basciColorBlue;
    border-bottom: 1px solid darkblue;
  }
}
